@{
    //Do not use this page in production!
    ViewData["Title"] = "Claim overview";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>@ViewData["Title"]</h1>
        </div>
        
        <dl>
            <dt>Your username</dt>
            <dd>@User.Identity.Name</dd>
            <dt>Your id token</dt>
            <dd><pre>@ViewData["idToken"]</pre></dd>
        </dl>

        <div class="table-responsive">
            <table class="table">
                <caption>Your claims inside the id token:</caption>
                <thead>
                    <tr>
                        <th scope="col">Claim</th>
                        <th scope="col">Value</th>
                        <th scope="col">Issuer</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var claim in User.Claims)
                {
                    <tr>
                        <th scope="row">@claim.Type</th>
                        <td>@claim.Value</td>
                        <td>@claim.Issuer</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>